<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Joe and Josh's 65 Pool app" %></h1>
  <p>Enabling our friends' degenerative gambling habits, one pool at a time</p>
</section>
